
#Static files
dm00244518-stm32-nucleo144-boards-mb1137-stmicroelectronics-UserManual.pdf
external_usb_uart_connection.pdf
path_for_terminal.txt
semishoting-cmd.txt
STM32F407-F429_reference_manual.pdf
stm32f429-datasheet.pdf
MB1137_Schematic.pdf

#Static directories
Software&Toolchain/*